@font-face {
    font-family: 'Noto Sans JP';
    src: url('../fonts/NotoSansJP-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Serif JP';
    src: url('../fonts/NotoSerifJP-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
